<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MateuszMesek_DocumentDataIndexQueue">
        <sequence>
            <module name="Magento_MessageQueue"/>
            <module name="MateuszMesek_DocumentDataIndexIndexer"/>
            <module name="MateuszMesek_DocumentDataIndexIndexerApi"/>
            <module name="MateuszMesek_DocumentDataIndexMview"/>
            <module name="MateuszMesek_DocumentDataIndexSync"/>
        </sequence>
    </module>
</config>
